.btnNav {
  color: var(--colorMainWhite);
  background-color: var(--colorBase);
}

.btn-primary {
  border-color: transparent;
}

.btnNav:hover {
  color: var(--colorMainWhite);
  background-color: var(--colorHover);
}

/* Boton del nav activo, 
se edito la clase directamente de Bootstrap pero,
 afecta a los demas botones de la pagina,
la clase era .btn.active */

.btnNav.active {
  color: var(--colorMainWhite);
  background-color: var(--colorActivo);
}

btnNav:active {
  color: var(--colorMainWhite);
  background-color: var(--colorActivo);
}

.logo {
  height: 100%;
}

